# Python artifacts
__pycache__/
*.pyc
.pytest_cache/

# Virtual environments
.venv/
venv/

# Tooling
.mypy_cache/
.ruff_cache/
src/pixeldrain_m3u.egg-info/

# Generated playlists

output/*.m3u8

# Local files
*.log

